img{
    height: 50vh;
    width: 70vw;
    margin: 10px;
}
body{
    background: rgb(233, 190, 190);
    margin: 0;
}
.nav{
    display: flex;
    background-color: rgb(56, 56, 7);
    color: #eedcdc;
    padding: px;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 13.1%;
    /* margin-right: auto; */
}
.item-list{
    color: aliceblue;
    text-align: center;
}
@media screen and (min-width:400px) {
    .boxes{

        display:flex;
        flex-direction: column;
    
    }
}
