img{
    height: 50vh;
    width: 70vw;
    margin: 10px;
}
.boxes{

    display:flex;

}
body{
    background: red;
}
.nav{
    display: flex;
    background-color: beige;
    color: #000;
}
@media screen and (min-width:400px) {
    .boxes{

        display:flex;
        flex-direction: column;
    
    }
}
